.card {
  width: 300px;
  height: 300px;
  background: linear-gradient(150deg, #ffd18d 0%, #e0bc96 100%);
  box-shadow: $large-shadow;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $dark;
  margin-bottom: 20px;
}
