// .card-container {
//   width: 300px;
//   height: 300px;
// }

.card {
  width: 300px;
  height: 300px;
  background: linear-gradient(150deg, #ffd18d 0%, #e0bc96 100%);
  box-shadow: $large-shadow;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $dark;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
  transform: perspective(600px);
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.front-card {
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
