* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: $bg-orange;
  overflow-x: hidden;
  min-height: 700px;
}

.container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 767px) {
  .container {
    justify-content: flex-start;
    gap: 50px;
  }
}
