* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: $bg-orange;
  overflow-x: hidden;
  min-height: 700px;
}

.container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
