// BACKGROUNDS /////////////////////
$bg-orange: rgb(237, 222, 197);
$white: rgb(241, 240, 233);
$red: rgb(255, 85, 85);
$green: rgb(75, 180, 89);

// SHADOWS /////////////////////
$lighter-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
$light-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
$large-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

// COLORS /////////////////////
$dark: #494949;
$light: #686868;
$orange: rgb(249, 168, 82);
