// BACKGROUNDS
$bg-orange: rgb(237, 222, 197);
$white: rgb(241, 240, 233);
$red: rgb(255, 85, 85);
$green: rgb(75, 180, 89);

// SHADOWS
$light-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
$large-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);

// COLORS
$dark: #494949;
$light: #686868;
$orange: rgb(249, 168, 82);

// eye icon
// <i class="fas fa-eye"></i>

// thumb up
// <i class="fas fa-thumbs-up"></i>

// thumb down
// <i class="fas fa-thumbs-down"></i>
